<div class="list-group">
    <a href="/#example-1" class="list-group-item list-group-item-action">Example 1</a>
    <a href="/#example-2" class="list-group-item list-group-item-action">Example 2</a>
    <a href="/#example-3" class="list-group-item list-group-item-action">Example 3</a>
    <a href="/#example-4" class="list-group-item list-group-item-action">Example 4</a>
    <a href="/#example-5" class="list-group-item list-group-item-action">Example 5</a>
    <a href="/#example-6" class="list-group-item list-group-item-action">Example 6</a>
    <a href="/#example-7" class="list-group-item list-group-item-action">Example 7</a>
    <a href="/#example-8" class="list-group-item list-group-item-action">Example 8</a>
</div>